.flex {
    display: flex;
}

// Aligment
.flex--centerfull {
  justify-content: center !important;
  align-items: center !important;
}

.flex--center {
  justify-content: center !important;
}

.flex--middle {
  align-items: center !important;
}
